.navbar {
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1500px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
}

.githubLink {
  color: #007bff;
  text-decoration: none;
  font-size: 16px;
  position: absolute;
  right: 150px; /* Adjust the position of the GitHub link */
}

.githubLink:hover {
  text-decoration: underline;
}

.navItems {
  display: flex;
  align-items: center;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
  background-color: white;
  border-radius: 5px; /* Adding rounded corners */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.navButton:hover {
  background-color: #e0e0e0; /* Change background color on hover */
}
